@model EmployeeViewModel;

<div class="form-control">
    <label for="name" class="col-form-label">Name</label>
    <input id="name" type="text" class="form-control" readonly />

</div>
<div class="form-control">
    <label for="age" class="col-form-label">Age</label>
    <input id="age" type="text" class="form-control" readonly />

</div>

<div class="form-control">
    <label for="addrees" class="col-form-label">Address</label>
    <input id="addrees" type="text" class="form-control" readonly />

</div>
<div class="form-control">
    <label for="email" class="col-form-label">Email</label>
    <input id="email" type="text" class="form-control" readonly />

</div>
<div class="form-control">
    <label for="phonenumber" class="col-form-label">Phone Number</label>
    <input id="phonenumber" type="text" class="form-control" readonly />

</div>
<div class="form-control">
    <label for="salary" class="col-form-label">Salary</label>
    <input id="salary" type="number" class="form-control" readonly />

</div>
<div class="form-control">
    <label for="isactive" class="form-check">IsActive</label>
    <input id="isactive" type="text" class="form-check" readonly />

</div>
<div class="form-control">
    <label for="HiringDate" class="col-form-label">Hiring Date</label>
    <input id="HiringDate" type="text" class="form-control" readonly />

</div>
<br />
<br />
