@model Department;


<div class="form-control">
    <label for="code" class="col-form-label">Code</label>
    <input id="Code" type="text" class="form-control" />
    <span asp-validation-for="Code"></span>
</div>
<div class="form-control">
    <label for="name" class="col-form-label">Name</label>
    <input id="name" type="text" class="form-control" />
    <span asp-validation-for="Name"></span>
</div>
<div class="form-control">
    <label for="DateOfCreation" class="col-form-label">Date Of creation</label>
    <input id="DateOfCreation" type="datetime" class="form-control" />
</div>
<br />
<br />
